argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644569880962/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
Bottleneck @ file:///C:/ci/bottleneck_1648029106781/work
Brotli==1.0.9
brotlipy==0.7.0
certifi==2022.5.18.1
cffi @ file:///C:/ci_310/cffi_1643360863105/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
click-plugins==1.1.1
cligj==0.7.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cryptography @ file:///C:/ci_310_32/cryptography_1643288562308/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dash==2.4.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.1.2
dash-table==5.0.0
debugpy @ file:///C:/ci/debugpy_1637073814272/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
descartes @ file:///Users/ktietz/demo/mc3/conda-bld/descartes_1630659560270/work
entrypoints @ file:///C:/ci/entrypoints_1649926676781/work
fastjsonschema @ file:///tmp/build/80754af9/python-fastjsonschema_1620414857593/work/dist
Fiona==1.8.4
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
Flask-Compress==1.5.0
fonttools==4.25.0
future==0.18.2
GDAL==2.3.3
geopandas==0.6.1
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1648562630459/work
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
ipykernel @ file:///C:/ci/ipykernel_1646982783083/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1643818352557/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi @ file:///C:/ci/jedi_1644315424739/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
jsonschema @ file:///C:/ci/jsonschema_1650008061654/work
jupyter-client @ file:///C:/ci/jupyter_client_1650534193597/work
jupyter-core @ file:///C:/ci/jupyter_core_1651656241651/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
kiwisolver @ file:///C:/ci/kiwisolver_1653292407017/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528518793/work
matplotlib @ file:///C:/ci/matplotlib-suite_1647441845039/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186182548/work
mkl-service==2.4.0
munch @ file:///Users/ktietz/demo/mc3/conda-bld/munch_1630566382504/work
munkres==1.1.4
nbclient @ file:///C:/ci/nbclient_1650308589784/work
nbconvert @ file:///C:/ci/nbconvert_1649759211040/work
nbformat @ file:///C:/ci/nbformat_1649826934963/work
nest-asyncio @ file:///C:/ci/nest-asyncio_1649848135795/work
notebook @ file:///C:/ci/notebook_1651666867639/work
numexpr @ file:///C:/ci/numexpr_1640686198111/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1650941124152/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas @ file:///C:/ci/pandas_1641461335688/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
plotly @ file:///opt/conda/conda-bld/plotly_1646671701182/work
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyproj==1.9.6
pyrsistent @ file:///C:/ci/pyrsistent_1636111449228/work
PySocks @ file:///C:/ci/pysocks_1605287715206/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
pywin32==302
pywinpty @ file:///C:/ci_310/pywinpty_1644239306009/work/target/wheels/pywinpty-2.0.2-cp37-none-win32.whl
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1638417007228/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
Rtree @ file:///C:/ci/rtree_1618421002230/work
scikit-learn @ file:///C:/ci/scikit-learn_1642617305109/work
scipy @ file:///C:/ci_310/scipy_1644006742166/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
Shapely==1.6.4.post1
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
tenacity @ file:///C:/ci/tenacity_1632759489732/work
terminado @ file:///C:/ci/terminado_1644304591822/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tornado @ file:///C:/ci/tornado_1606944352773/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3 @ file:///C:/ci/urllib3_1650639883551/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605299180674/work
wincertstore==0.2
zipp @ file:///C:/ci/zipp_1652255911371/work
